

/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

#rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    /*position: relative;*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    margin-top: 10%;
}
